<mat-toolbar fxLayoutGap="4px">
  <button color="basic" mat-icon-button matTooltip="返回" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  编辑
</mat-toolbar>
<form class="d-flex" *ngIf="!isLoading" [formGroup]="formGroup">
  <div class="d-flex flex-column w-100">
    <mat-form-field>
      <mat-label>标题</mat-label>
      <input matInput placeholder="标题" formControlName="title" minlength="" maxlength="100">
      <mat-error *ngIf="title?.invalid">
        {{getValidatorMessage('title')}}
      </mat-error>
    </mat-form-field>
    <div class="d-flex w-100">
      <mat-form-field>
        <mat-label>语言</mat-label>
        <mat-select formControlName="languageType">
          <mat-option *ngFor="let item of LanguageType | toKeyValue" [value]="item.value">
            {{item.key}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="languageType?.invalid">
          {{getValidatorMessage('languageType')}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ms-2">
        <mat-label>个人目录</mat-label>
        <mat-select placeholder="选择个人目录" formControlName="catalogId" required="">
          <mat-option *ngFor="let item of catalog" [value]="item.id">
            {{item.name}}
            <span *ngIf="item.parent">
              ({{item.parent.name}})
            </span>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="languageType?.invalid">
          {{getValidatorMessage('catalogId')}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ms-2">
        <mat-label>全站分类</mat-label>
        <mat-select placeholder="所属分类" formControlName="blogType" required>
          <mat-option *ngFor="let item of BlogType| toKeyValue" [value]="item.value">
            {{item.value|enumText:'BlogType'}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="languageType?.invalid">
          {{getValidatorMessage('catalogId')}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="ms-2" style="width:400px">
        <mat-label>选择标签</mat-label>
        <mat-select placeholder="标签" multiple formControlName="tagIds">
          <mat-option *ngFor="let tag of allTags" [value]="tag.id">{{tag.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>描述</mat-label>
      <textarea matInput placeholder="Description" formControlName="description" minlength="" maxlength="300"
        rows="4"></textarea>
      <mat-error *ngIf="description?.invalid">
        {{getValidatorMessage('description')}}
      </mat-error>
    </mat-form-field>

    <!-- 编辑器切换 -->
    <mat-toolbar color="primary">
      <button mat-icon-button matTooltip="编辑" (click)="toggleEditor(false)">
        <mat-icon>text_fields</mat-icon>
      </button>
      <button mat-icon-button matTooltip="预览" (click)="toggleEditor(true)">
        <mat-icon>preview</mat-icon>
      </button>
      <button mat-icon-button matTooltip="拆分" (click)="splitView()">
        <mat-icon>vertical_split</mat-icon></button>
    </mat-toolbar>
    <ng-container *ngIf="isSplitView; else notSplitViewTmpl">
      <div class="editor row">
        <!-- 输入框 -->
        <mat-form-field class="col">
          <textarea matInput [cdkTextareaAutosize]="true" placeholder="markdown" formControlName="content"
            style="min-height: 500px;"></textarea>
        </mat-form-field>
        <!-- 预览 -->
        <markdown class="col p-2" [data]="content?.value" lineNumbers style="min-height: 500px;"></markdown>
      </div>

    </ng-container>
    <ng-template #notSplitViewTmpl>
      <div class="editor d-flex flex-column">
        <ng-container *ngIf="isPreview; else elseTemplate">
          <!-- 预览 -->
          <markdown class="p-2" [data]="content?.value" lineNumbers style="min-height: 500px;"></markdown>
        </ng-container>
        <ng-template #elseTemplate>
          <!-- 输入框 -->
          <mat-form-field>
            <textarea matInput [cdkTextareaAutosize]="true" placeholder="markdown" formControlName="content"
              style="min-height: 500px;"></textarea>
          </mat-form-field>
        </ng-template>
      </div>
    </ng-template>

    <div class="d-flex my-1 py-3 g-1">
      <mat-slide-toggle color="primary" formControlName="isPublic">是否公开</mat-slide-toggle>
      <mat-slide-toggle class="ms-3" color="primary" formControlName="isOriginal">是否原创</mat-slide-toggle>
    </div>
    <div class="d-flex mt-1">
      <button class="d-flex flex-column" mat-flat-button color="primary" type="submit" (click)="edit()"
        [disabled]="isProcessing">保存</button>
    </div>
  </div>
</form>