<mat-toolbar fxLayoutGap="4px">
  <button color="basic" mat-icon-button matTooltip="返回" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  添加
</mat-toolbar>
<form class="d-flex" *ngIf="!isLoading" [formGroup]="formGroup" (ngSubmit)="add()">
  <div class="d-flex flex-column w-100">
    <mat-form-field>
      <mat-label>UserName</mat-label>
      <input matInput placeholder="UserName" formControlName="userName" minlength="3" maxlength="100">
      <mat-error *ngIf="userName?.invalid">
        {{getValidatorMessage('userName')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Passowrd</mat-label>
      <input matInput placeholder="Passowrd" formControlName="password" minlength="6" maxlength="100" type="password">
      <mat-error *ngIf="password?.invalid">
        {{getValidatorMessage('password')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" minlength="6" maxlength="100">
      <mat-error *ngIf="email?.invalid">
        {{getValidatorMessage('email')}}
      </mat-error>
    </mat-form-field>

    <div class="d-flex mt-1">
      <button class="d-flex flex-column" mat-flat-button color="primary" type="submit">保存</button>
    </div>
  </div>
</form>