.read {
  max-width: 860px;
  margin-top: 1rem;
  min-width: 800px;
}

.description {
  border-radius: 0.3rem;
  font-size: 1rem;
  color: rgb(31, 31, 31);
  background-color: rgb(238, 238, 238);
}

:host ::ng-deep pre {
  border-radius: 5px !important;
}

:host ::ng-deep p {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:host ::ng-deep code:not([class]) {
  font-family: 'Cascadia Code PL', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(54, 54, 54);
  padding: 2px;
  margin: 0 2px;
  color: #4397db;
  border-radius: 3px;
}

.inline-code {
  background-color: rgb(197, 197, 197);
  padding: 2px;
  border-radius: 2px;
}

:host ::ng-deep table {
  margin-bottom: 1rem;
  border-collapse: collapse;
}

:host ::ng-deep tr>td,
:host ::ng-deep tr>th {
  padding: 2px;
  text-align: center;
  background-color: aliceblue;
  border-bottom: 1px solid gray;
}