<div class="container d-flex">
  <section class="blogs p-2">
    <!-- 博客 -->
    <div class="d-flex text-center justify-content-center mt-2" *ngIf="isLoading">
      <mat-spinner mode="indeterminate">
      </mat-spinner>
    </div>
    <section *ngIf="!isLoading">
      <ng-container *ngIf="blogs.length>0; else elseTemplate">
        <mat-card class="w-100 my-1" *ngFor="let item of blogs">
          <mat-card-header>
            <mat-card-title>
              <a [routerLink]="['/blog',item.id]" target="_blank">
                {{item.title}}
              </a>
            </mat-card-title>
            <mat-card-subtitle>
              {{item.authors}} |
              {{item.createdTime|date:'yyyy-MM-dd HH:mm'}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content [innerHTML]="item.description">
          </mat-card-content>
          <mat-card-actions *ngIf="item.tags">
            <mat-icon fontSet="material-icons-outlined">local_offer</mat-icon>
            <mat-chip-listbox *ngFor="let tag of item.tags" class="ms-2" matTooltip="标签">
              <mat-chip color="primary">
                {{tag.name}}
              </mat-chip>
            </mat-chip-listbox>
          </mat-card-actions>
        </mat-card>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="p-2">
          <h4>
            暂无内容！
          </h4>
        </div>
      </ng-template>
    </section>

  </section>
  <!-- 分类 -->
  <section class="sugguest p-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>分类</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-action-list *ngIf="typeOptions">
          <button mat-list-item (click)="selectblogsType(null)">
            全部
          </button>
          <button mat-list-item *ngFor="let option of typeOptions" (click)="selectblogsType(option.value)">
            {{option.description}}
          </button>
        </mat-action-list>
      </mat-card-content>
    </mat-card>

  </section>
</div>