<div class="container d-flex">
  <!-- 资讯 -->
  <section class="news p-2">
    <!-- 总分类 -->
    <div class=" d-flex mb-2 justify-content-center">
      <mat-button-toggle-group [(ngModel)]="filter.techType" (change)="getNews()">
        <mat-button-toggle [value]="null">
          全部
        </mat-button-toggle>
        <ng-container *ngFor="let option of techTypeOptions">
          <mat-button-toggle *ngIf="option.value!=0" [value]="option.value">
            {{option.description}}
          </mat-button-toggle>
        </ng-container>
      </mat-button-toggle-group>
      <button class="mt-1" mat-icon-button matTooltip="仅看本周" (click)="onlyWeek()"
        [color]="filter.onlyWeek?'primary':'link'">
        <mat-icon fontSet="material-icons-outlined">view_week</mat-icon>
      </button>
    </div>
    <div class="d-flex text-center justify-content-center mt-2" *ngIf="isLoading">
      <mat-spinner mode="indeterminate">
      </mat-spinner>
    </div>
    <!-- 资讯内容 -->
    <section *ngIf="!isLoading">
      <ng-container *ngIf="news.length>0; else elseTemplate">
        <mat-card class="w-100 my-1" *ngFor="let item of news">
          <mat-card-header>
            <mat-card-title>
              <a href="{{item.url}}" target="_blank">
                {{item.title}}
              </a>
            </mat-card-title>
            <mat-card-subtitle>
              {{item.authorName}} {{item.provider}} &nbsp;&nbsp;
              {{item.datePublished|date:'yyyy-MM-dd HH:mm'}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content [innerHTML]="item.description">
          </mat-card-content>
          <mat-card-actions>
            <mat-icon fontSet="material-icons-outlined">local_offer</mat-icon>
            <mat-chip-listbox *ngIf="item.techType" class="ms-2">
              <mat-chip color="primary">
                {{item.techType|enumText:'TechType'}}
              </mat-chip>
            </mat-chip-listbox>
            <mat-chip-listbox *ngIf="item.newsType" class="ms-2">
              <mat-chip color="primary">
                {{item.newsType|enumText:'NewsType'}}
              </mat-chip>
            </mat-chip-listbox>
          </mat-card-actions>
        </mat-card>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="d-flex text-center justify-content-center mt-2">
          <div class="p-2">
            <h4>
              暂无内容！
            </h4>
          </div>
        </div>
      </ng-template>
    </section>

  </section>
  <!-- 右边栏 -->
  <section class="sugguest p-2">
    <!-- 最新视频 -->
    <mat-card *ngIf="latestVideo" style="max-width: 280px;">
      <mat-card-header>
        <mat-card-title>最新视频</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <a href="/video-preview/{{latestVideo.id}}" target="_blank">
          <img [src]="latestVideo.thumbnailUrl" width="256px" height="160px">
        </a>
      </mat-card-content>
    </mat-card>
    <!-- 分类 -->
    <mat-card class="mt-1">
      <mat-card-header>
        <mat-card-title>分类</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-action-list *ngIf="newsTypeOptions">
          <button mat-list-item (click)="selectNewsType(null)">
            全部
          </button>
          <button mat-list-item *ngFor="let option of newsTypeOptions" (click)="selectNewsType(option.value)">
            {{option.description}}
          </button>
        </mat-action-list>
      </mat-card-content>
    </mat-card>
  </section>
</div>