<div class="d-flex" *ngIf="!isLoading">
  <!-- 资讯 -->
  <section class="news p-2">
    <ng-container *ngIf="news.length>0; else elseTemplate">
      <mat-card class="w-100 my-1" *ngFor="let item of news">
        <mat-card-header>
          <mat-card-title>
            <a href="{{item.url}}" target="_blank">
              {{item.title}}
            </a>
          </mat-card-title>
          <mat-card-subtitle>
            {{item.authorName}} {{item.provider}} |
            {{item.datePublished|date:'yyyy-MM-dd HH:mm'}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content [innerHTML]="item.description">
        </mat-card-content>
        <mat-card-actions>
          <mat-icon fontSet="material-icons-outlined">local_offer</mat-icon>
          <mat-chip-listbox *ngIf="item.techType" class="ms-2">
            <mat-chip color="primary">
              {{item.techType|enumText:'TechType'}}
            </mat-chip>
          </mat-chip-listbox>
          <mat-chip-listbox *ngIf="item.newsType" class="ms-2">
            <mat-chip color="primary">
              {{item.newsType|enumText:'NewsType'}}
            </mat-chip>
          </mat-chip-listbox>
        </mat-card-actions>
      </mat-card>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="p-2">
        <h4>
          暂无内容！
        </h4>
      </div>
    </ng-template>

  </section>
  <!-- 推荐内容 -->
  <section class="sugguest p-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>分类</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-action-list *ngIf="newsTypeOptions">
          <button mat-list-item *ngFor="let option of newsTypeOptions" (click)="selectNewsType(option.value)">
            {{option.description}}
          </button>
        </mat-action-list>
      </mat-card-content>
    </mat-card>

  </section>
</div>