<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
  <mat-toolbar color="">
    <mat-toolbar-row style="font-size:16px">
      <div class="d-flex">
        <!-- 筛选 -->
      </div>
      <div class="d-flex flex-grow-1"></div>
      <button mat-flat-button color="primary" matTooltipPosition="right" [routerLink]="['../add']">
        <mat-icon>add</mat-icon>
        添加
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<table *ngIf="!isLoading" mat-table [dataSource]="dataSource" style="width: 100%;">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">
      {{element.title}}
    </td>
  </ng-container>
  <ng-container matColumnDef="authorName">
    <th mat-header-cell *matHeaderCellDef>AuthorName</th>
    <td mat-cell *matCellDef="let element">
      {{element.authorName}}
    </td>
  </ng-container>

  <ng-container matColumnDef="newsType">
    <th mat-header-cell *matHeaderCellDef>NewsType</th>
    <td mat-cell *matCellDef="let element">
      {{element.newsType|mapEnum:NewsType}}
    </td>
  </ng-container>
  <ng-container matColumnDef="techType">
    <th mat-header-cell *matHeaderCellDef>TechType</th>
    <td mat-cell *matCellDef="let element">
      {{element.newsType|mapEnum:TechType}}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>操作</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="link" [routerLink]="['../detail',element.id]" matTooltip="查看">
        <mat-icon>pages</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="edit(element.id)" matTooltip="编辑">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="删除" (click)="deleteConfirm(element)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<div class="d-flex mt-1 g-1 w-100 justify-content-between bg-white">
  <div class="d-flex align-items-center ps-2">
    <button mat-flat-button color="primary" [matMenuTriggerFor]="aboveMenu">
      <mat-icon>list</mat-icon>
      批量操作
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item>
        <mat-icon color="primary" fontSet="material-icons-outlined">health_and_safety</mat-icon>
        设置状态
      </button>
      <button mat-menu-item>
        <mat-icon color="primary" fontSet="material-icons-outlined">category</mat-icon>
        设置分类
      </button>
      <button mat-menu-item>
        <mat-icon color="primary" fontSet="material-icons-outlined">label</mat-icon>
        设置标记
      </button>
      <button mat-menu-item>
        <mat-icon color="warn">delete_forever</mat-icon>
        删除
      </button>
    </mat-menu>
  </div>
  <mat-paginator class="" [pageSizeOptions]="pageSizeOption" [pageIndex]="filter.pageIndex!-1"
    [pageSize]="filter.pageSize" [length]="total" (page)="getList($event)" showFirstLastButtons></mat-paginator>
</div>



<ng-template #myDialog>
  <h2 mat-dialog-title>标题</h2>
  <mat-dialog-content>
    <form [formGroup]="mydialogForm">
      <mat-form-field appearance="fill">
        <input matInput placeholder="新名称" formControlName="name" required>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>取消</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button>确认</button>
  </mat-dialog-actions>
</ng-template>