<mat-toolbar class="d-flex gap-1">
  <button color="basic" mat-icon-button matTooltip="返回" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
    添加
</mat-toolbar>
<form class="d-flex" *ngIf="!isLoading" [formGroup]="formGroup">
  <div class="d-flex flex-column w-100">
  <mat-form-field>
    <mat-label>标题</mat-label>
    <input matInput placeholder="标题" formControlName="title" required minlength="" maxlength="100">
    <mat-error *ngIf="title?.invalid">
    {{getValidatorMessage('title')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>project url address</mat-label>
    <textarea matInput placeholder="project url address" formControlName="projectUrl" required minlength="" maxlength="200"
      cols="5"></textarea>
    <mat-error *ngIf="projectUrl?.invalid">
    {{getValidatorMessage('projectUrl')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>描述</mat-label>
    <textarea matInput placeholder="描述" formControlName="description" required minlength="" maxlength="500"
      cols="5"></textarea>
    <mat-error *ngIf="description?.invalid">
    {{getValidatorMessage('description')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>缩略图</mat-label>
    <textarea matInput placeholder="缩略图" formControlName="thumbnail"  minlength="" maxlength="200"
      cols="5"></textarea>
    <mat-error *ngIf="thumbnail?.invalid">
    {{getValidatorMessage('thumbnail')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>作者</mat-label>
    <textarea matInput placeholder="作者" formControlName="authors"  minlength="" maxlength="200"
      cols="5"></textarea>
    <mat-error *ngIf="authors?.invalid">
    {{getValidatorMessage('authors')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>标签</mat-label>
    <textarea matInput placeholder="标签" formControlName="tags"  minlength="" maxlength="300"
      cols="5"></textarea>
    <mat-error *ngIf="tags?.invalid">
    {{getValidatorMessage('tags')}}
    </mat-error>
  </mat-form-field>

    <div class="d-flex mt-1">
      <button class="d-flex flex-column" mat-flat-button color="primary" (click)="add()">保存</button>
    </div>
  </div>
</form>

