<div class="d-flex p-3 container">
  <div class="col-6">
    <h1>开源项目</h1>
    <mat-card *ngFor="let item of data">
      <mat-card-header>
        <mat-card-title>
          <a [href]="item.projectUrl" color="primary" mat-button style="font-size: 1.2rem;" target="_blank">
            ⭐ {{item.title}}
          </a>
        </mat-card-title>
        <mat-card-subtitle class="m-1" style="color: rgb(53, 53, 53);">
          {{item.description}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="m-1">
        <mat-chip-set role="list">
          <mat-chip color="primary" *ngFor="let tag of splitTags(item.tags!)">{{tag}}</mat-chip>
        </mat-chip-set>
      </mat-card-content>
      <!-- <mat-card-actions>
      </mat-card-actions> -->
    </mat-card>
  </div>
  <div class="col-6 ms-4">
    <section class="d-flex flex-column">
      <h1>
        🆓 自由独立，文明发展的基石!
      </h1>
    </section>
    <section class="d-flex flex-column mt-2">
      <h1>👉 问题反馈</h1>
      <mat-list>
        <mat-list-item>
          <a href="https://github.com/AterDev/dusi.dev/issues" target="_blank">
            <mat-icon class="v-middle">assistant</mat-icon>
            GitHub Issue
          </a>
        </mat-list-item>
        <mat-list-item>
          <a href=" mailto:zpty@outlook.com">
            <mat-icon fontSet="material-icons-outlined" class="v-middle">email</mat-icon>
            <span>
              电子邮件
            </span>
          </a>
        </mat-list-item>
      </mat-list>
    </section>
    <section class="d-flex flex-column mt-2">
      <h1>🏡 社区</h1>
      <div>
        <iframe src="https://discord.com/widget?id=898107278060830761&theme=dark" width="350" height="200"
          allowtransparency="true" frameborder="0"
          sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
      </div>
    </section>
  </div>


</div>