<div class="d-flex p-3  container">
  <div class="col-auto">
    <section class="d-flex flex-column">
      <h1>关于</h1>
      <p style="text-indent: 2rem;">独立自由，文明发展之基础！</p>
    </section>

    <section class="d-flex flex-column mt-2">
      <h1>建议</h1>
      <p>如果您对本网站有什么建议，可通过以下方式联系站长：</p>

      <mat-list>
        <mat-list-item>
          <a href="https://github.com/AterDev/dusi.dev/issues" target="_blank">
            <mat-icon class="v-middle">assistant</mat-icon>
            GitHub Issue
          </a>
        </mat-list-item>
        <mat-list-item>
          <a href=" mailto:zpty@outlook.com">
            <mat-icon fontSet="material-icons-outlined" class="v-middle">email</mat-icon>
            <span>
              电子邮件
            </span>
          </a>
        </mat-list-item>
      </mat-list>
    </section>
    <section class="d-flex flex-column mt-2">
      <h1>社区</h1>
      <div>
        <iframe src="https://discord.com/widget?id=898107278060830761&theme=dark" width="350" height="200"
          allowtransparency="true" frameborder="0"
          sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
      </div>
    </section>
  </div>
  <div class="col-auto ms-4">

  </div>

</div>