<mat-toolbar class="d-flex gap-1">
  <button color="basic" mat-icon-button matTooltip="返回" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
    编辑
</mat-toolbar>
<form class="d-flex" *ngIf="!isLoading" [formGroup]="formGroup">
  <div class="d-flex flex-column w-100">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" formControlName="title"  minlength="" maxlength="100">
    <mat-error *ngIf="title?.invalid">
    {{getValidatorMessage('title')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>ProjectUrl</mat-label>
    <textarea matInput placeholder="ProjectUrl" formControlName="projectUrl"  minlength="" maxlength="200"
      cols="5"></textarea>
    <mat-error *ngIf="projectUrl?.invalid">
    {{getValidatorMessage('projectUrl')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description" formControlName="description"  minlength="" maxlength="500"
      cols="5"></textarea>
    <mat-error *ngIf="description?.invalid">
    {{getValidatorMessage('description')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Thumbnail</mat-label>
    <textarea matInput placeholder="Thumbnail" formControlName="thumbnail"  minlength="" maxlength="200"
      cols="5"></textarea>
    <mat-error *ngIf="thumbnail?.invalid">
    {{getValidatorMessage('thumbnail')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Authors</mat-label>
    <textarea matInput placeholder="Authors" formControlName="authors"  minlength="" maxlength="200"
      cols="5"></textarea>
    <mat-error *ngIf="authors?.invalid">
    {{getValidatorMessage('authors')}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tags</mat-label>
    <textarea matInput placeholder="Tags" formControlName="tags"  minlength="" maxlength="300"
      cols="5"></textarea>
    <mat-error *ngIf="tags?.invalid">
    {{getValidatorMessage('tags')}}
    </mat-error>
  </mat-form-field>

    <div class="d-flex mt-1">
      <button class="d-flex flex-column" mat-flat-button color="primary" (click)="add()">保存</button>
    </div>
  </div>
</form>
